---
import { Image } from "astro:assets";
import chap1NetImg from '../../assets/chap1NetImg_2.png';
import chap1NetImgMB from '../../assets/chap1NetImgMB.svg?raw';
import chap1NetContent from '../../assets/chap1NetContent.svg?raw';
import chap1NetAdd1 from '../../assets/chap1NetAdd1.svg?raw';
import chap1NetAdd2 from '../../assets/chap1NetAdd2.svg?raw';
import chap1NetAdd1MB from '../../assets/chap1NetAdd1MB.svg?raw';
import chap1NetAdd2MB from '../../assets/chap1NetAdd2MB.svg?raw';
---
<section class="chap1-net">
    <div class="container">
        <div class="ex-wrap">
            <div class="ex-img">
                <Fragment set:html={chap1NetContent} />
            </div>
            <a href="https://www.vinamilk.com.vn/vi/tin-tuc-phat-trien-ben-vung/2533/tuyen-bo-giai-thich-du-dieu-kien-qes-nha-may-sua-nghe-an" data-aos="fade-up" target="_blank" class="ex-add1">
                <Fragment set:html={chap1NetAdd1} />
            </a>
            <a href="https://www.vinamilk.com.vn/vi/tin-tuc-phat-trien-ben-vung/2532/tuyen-bo-giai-thich-du-dieu-kien-qes-trang-trai-bo-sua-nghe-an" data-aos="fade-up" target="_blank" class="ex-add2">
                <Fragment set:html={chap1NetAdd2} />
            </a>
        </div>
        <div class="ex-wrap ex-mb">
            <div class="ex-img" data-aos="fade-up">
                <Fragment set:html={chap1NetImgMB} />
            </div>
            <a href="https://www.vinamilk.com.vn/vi/tin-tuc-phat-trien-ben-vung/2533/tuyen-bo-giai-thich-du-dieu-kien-qes-nha-may-sua-nghe-an" target="_blank" class="ex-add1">
                <Fragment set:html={chap1NetAdd1MB} />
            </a>
            <a href="https://www.vinamilk.com.vn/vi/tin-tuc-phat-trien-ben-vung/2532/tuyen-bo-giai-thich-du-dieu-kien-qes-trang-trai-bo-sua-nghe-an" target="_blank" class="ex-add2">
                <Fragment set:html={chap1NetAdd2MB} />
            </a>
        </div>
    </div>
</section>
<style lang="scss">
    .chap1-net {
        background-color: var(--cl-bg);
        .ex-add1 {
            width: 45.5rem;
            position: absolute;
            top: 64.63588767253689%;
            left: 54.23611111111111%;
            z-index: 3;
            @media screen and (max-width: 767px) {
                width: calc(100% - 4.266666666666667% - 4.266666666666667%);
                left: 4.266666666666667%;
                top: 78.69649805447471%;
            }
        }
        .ex-add2 {
            width: 45.5rem;
            position: absolute;
            top: 73.25083293669681%;
            left: 54.23611111111111%;
            z-index: 3;
            @media screen and (max-width: 767px) {
                width: calc(100% - 4.266666666666667% - 4.266666666666667%);
                left: 4.266666666666667%;
                top: 84.56549935149157%;
            }
            
        }
    }
</style>